@import url("https://fonts.googleapis.com/css?family=Raleway:100,300&display=swap");
/* Variables */
/* Variables */
/*Footer*/
footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  border-top: 0.1em solid #B042BD;
  width: 100%; }

.sm-icons {
  justify-content: center; }
  .sm-icons i {
    color: #307F88;
    font-size: 2em; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

p {
  color: #4c4c4c;
  margin: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 2.4em;
  font-weight: 100;
  text-align: center; }

h1 {
  color: #B042BD;
  font-family: "Raleway", sans-serif;
  font-size: 6.7em;
  font-weight: 100;
  align-items: center; }

h2 {
  color: #B042BD;
  font-family: "Raleway", sans-serif;
  font-size: 3.3em;
  font-weight: 100;
  align-items: center; }

.accent {
  color: #307F88; }

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "content" "footer"; }

header {
  position: sticky;
  top: 0;
  background: #fff;
  grid-area: header;
  border-bottom: 0.1em solid #CC93C3;
  box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.2); }

header a:visited {
  color: #307F88; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

ul {
  display: flex; }

.horizontal-nav li {
  list-style: none;
  padding: 1em; }
  .horizontal-nav li a {
    display: inline-block;
    text-decoration: none;
    color: #307F88;
    transition: all .2s ease-in-out; }
    .horizontal-nav li a:hover {
      color: #EB4E83;
      transform: scale(1.1); }
    .horizontal-nav li a:visited {
      color: #307F88; }
    .horizontal-nav li a:active {
      color: #EB4E83; }

.heading {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 100; }

#name {
  font-size: 2em;
  padding: 1em;
  color: #B042BD; }

/* sections*/
.page-section {
  background-color: #fff;
  color: #247BA3;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .page-section h2 {
    color: #EB4E83; }

/*Media Queries*/
@media only screen and (max-width: 600px) {
  .navmenu {
    display: none; }
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 2em; }
  p {
    font-size: 1.5em; }
  .page-section {
    height: 100vh; } }
