@import 'variables.scss';
/*Footer*/
footer{
  position: sticky;
  bottom: 0;
  background: #fff;
  border-top: .1em solid $richlilac;
  width: 100%;
  
}

.sm-icons {
    justify-content: center;
  i{
    color: $verdigris;
    font-size: 2em;
  }
  
}
 
 a{
  &:hover {
    color: $darkpink;
    transform: scale(1.1);
     
    }
 }
  