@import url('https://fonts.googleapis.com/css?family=Raleway:100,300&display=swap');
@import 'variables.scss';
@import 'footer.scss';
@import 'skills.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

p{
    color: $darkgrey;
    margin: 1em;
    font-family: $copytext;
    font-size: 2.4em;
    font-weight: 100;
    text-align: center;
    

  }

  h1{
    color: $richlilac;
    font-family: $headertext;
    font-size: 6.7em;
    font-weight: 100;
    align-items: center;

  }
  h2{
    color: $richlilac;
    font-family: $headertext;
    font-size: 3.3em;
    font-weight: 100;
    align-items: center;  
  }



.accent{
  color:$verdigris;
}

.wrapper{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "content"
    "footer"
    ;
}
header {
  position: sticky;
  top: 0;
  background: #fff;
  grid-area: header;
  border-bottom: .1em solid $pastelviolet;
  box-shadow: 0 0 0 .1em rgba(0, 0, 0, 0.2);
} 


header {
  a:visited{
      color: $verdigris;
    }
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
ul {
  display: flex;
}
.horizontal-nav li{
  list-style: none;
  padding: 1em;
    a {
    display: inline-block;
    text-decoration: none;
    color: $verdigris;
    transition: all .2s ease-in-out;
   
     &:hover {
      color: $darkpink;
      transform: scale(1.1);
       
      }
    &:visited{
      color: $verdigris;
    }
    &:active {
      color:$darkpink;
    }
  }

  }


.heading {
  font-family: $copytext;
  font-size: 2em;
  font-weight: 100;
  
}
#name {
  font-size: 2em;
  padding: 1em;
  color: $richlilac;
}




/* sections*/
.page-section{
  background-color: #fff;;
  color: $maximumblue;
  display:flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    h2{
      color: $darkpink;
    }
}


/*Media Queries*/

@media only screen and (max-width: 600px){
  .navmenu {
    display: none;
  }
  h1{
    font-size: 2.5em;
    }
  h2{
      font-size: 2em;
    }
  p{
      font-size: 1.5em;
    }
    .page-section{
      height: 100vh;
    }

 #skills-list{
   font-size: 2.1em;
 }

}

