/* Variables */
$maximumblue: #247BA3;
$russianviolet: #2A2058;
$richlilac: #B042BD;
$pastelviolet: #CC93C3;
$darkgrey: #4c4c4c;
$darkpink: #EB4E83;
$verdigris: #307F88;
$headertext:'Raleway', sans-serif;
$copytext:'Raleway', sans-serif;
